<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electroniks</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        .bgimg {
            background-image: url('../static/pexels-athena-2582932.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
                }
    </style>
</head>
<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div>{% include 'includes/_navbar.html' %}</div>
    <hr>
    <hr>    
    <div class="container">
        {% include 'includes/_messages.html' %}
       
 
    <div class="w3-display-middle">
        <div class='container'>
            <h1 class="visible" style="color: grey;">Login</h1>
            <form action="" method="POST" class="container">
                <div class="form-group">
                    <label style="color: darkgrey;">Username</label>
                    <input type="text" name="username" class="form-control" value={{request.form.username}}>
                </div>
                <div class="form-group">
                    <label style="color: darkgrey;">Password</label>
                    <input type="password" name="password" class="form-control" value={{request.form.password}}>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
               
            </form>
            </div>
     
      
    </div>
   
  
        
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript"> CKEDITOR.replace('editor') </script>
    </div>
    
</body>
</html>



