{%extends "admin_layout.html"%}
{%block body%}
<div class="container">   
<h1 style="color: goldenrod;">OUR MANUFACTURERS:</h1>
    
<table class="table table-striped table-dark">
    <tr>
        <th>MANUFACTURER_ID</th>
        <th>MANUFACTURER_NAME</th>
        <th>MANUFACTURER_EMAIL</th>
        <th>MANUFACTURER_LOCATION</th>
       
        
    </tr>
    
    {% for n in result %}
    
    <tr>
        <td>{{n.manufacturer_id    }}</td>
        <td>{{n.manufacturer_name }}</td>
        <td>{{n.manufacturer_email }}</td>
        <td>{{n.manufacturer_location}}</td>
       
           
    
    </tr>

    {% endfor %}
   
</table>
<h1 style="color: goldenrod;">Enter new products here</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action = "">
    <div class="form-group" style="color:goldenrod;">
        {{ render_field(form.product_name, class = "form-control") }}
    </div>
    <div class="form-group" style="color:goldenrod;">
        {{ render_field(form.unit_price, class = "form-control") }}
    </div>
    <div class="form-group" style="color:goldenrod;">
        {{ render_field(form.amount, class = "form-control") }}
    </div>
    <div class="form-group" style="color:goldenrod;">
        {{ render_field(form.manufacturer_id, class = "form-control") }}
    </div>
    <form >
       
        <input type="submit" value="SUBMIT" class="btn btn-outline-primary">
    </form>
</form>
<form action="{{url_for('update_inventory')}}" style="position: relative;top: 10px;">
            
    <input type="submit" value="UPDATE EXISTING PRODUCT" class="btn btn-outline-primary">
</form>
 </div>

{%endblock%}